.main {
  margin: 24px;

  > .tag-box {
    margin: 24px 0;
    display: flex;
    flex-direction: column;
    gap: 24px;

    > .tag-main-box {
      display: flex;
      flex-direction: row;
      gap: 8px;
      overflow-x: scroll;
    }

    > .tag-sub-box {
      display: flex;
      flex-direction: row;
      gap: 8px;
      overflow-x: scroll;
    }
  }

  > .group-box {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    gap: 24px;
    overflow-x: scroll;
  }
}
