.additional-group {
  display: flex;
  // flex-direction: column;

  > table {
    width: 300px;

    > tbody {
      > tr {
        text-align: center;

        > td.add {
          border: 1.5px dotted #0000ee;
          border-width: 3px;
          padding: 20px 0;
        }
      }
    }
  }
}
